<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table class="table table-striped table-hover table-responsive">
  <thead class="thead-default">
    <tr>
      <th colspan="2">Name</th>
      <th colspan="2">Info</th>
      <th>Website</th>
      <th>Area</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td colspan="2"><%= link_to project.name, project %></td>
        <td colspan="2"><%= project.info %></td>
        <td><%= link_to 'Website', project.Website %></td>
        <td><%= project.area %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>